<div class="row">
	<div class="large-4 large-centered columns">
		<div class="tile-header">
			<h4 class="centered">Recent <span>Work</span></h4>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-12 large-4 large-centered columns">
		<div class="nav-portfolio-container">
			<ul class="nav-portfolio">
				<li><a href="/">Sites</a></li>
				<li><a href="/">Logo</a></li>
				<li><a href="/">Print</a></li>
				<li><a href="/">Animation</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="row">
	<div class="medium-12 large-4 large-centered columns">
		<div class="slick-arrows-container">
			<ul class="slick-arrows">
				<li class="left">Back</li>
				<li><img src="{{ base_path ~ directory }}/assets/images/slick-nav-arrows.svg" alt="Slick arrow navigation"></li>
				<li class="right">Next</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns slick-columns">
		<div class="slick-portfolio">

			<div class="medium-4 columns">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-01.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-02.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-03.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-01.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-02.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-03.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>


		</div>
	</div>
</div>


