<div class="row">
	<div class="medium-4 medium-centered columns">
		<div class="tile-header">
			<h4 class="centered">Recent <span>Work</span></h4>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="medium-12 large-4 large-centered columns">
		<div class="nav-portfolio-container">
			<ul id="nav-portfolio">
				<li class="all-filters active"><a>All</a></li>
				<li class="sites-filter"><a>Sites</a></li>
				<li class="logo-filter"><a>Logo</a></li>
				<li class="animation-filter"><a>Animation</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="row">
	<div class="medium-12 large-4 large-centered columns">
		<div class="slick-arrows-container">
			<ul class="slick-arrows">
				<li class="left">Back</li>
				<li><img src="{{ base_path ~ directory }}/assets/images/slick-nav-arrows.svg" alt="Slick arrow navigation"></li>
				<li class="right">Next</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns slick-columns">
		<div class="slick-portfolio">

			<div class="medium-4 columns sites">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-01.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>S</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns sites">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-02.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>S</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns sites">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-02.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>S</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns logo">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-03.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns logo">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-01.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns logo">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-01.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>L</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns animation">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-02.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>A</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns animation">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-03.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>A</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>

			<div class="medium-4 columns animation">
				<div class="tile-slick-portfolio">
					<div class="portfolio-image">
						<a href=""><img src="{{ base_path ~ directory }}/assets/images/portfolio/thumb-portfolio-03.jpg" alt="Portfolio Image"></a>
					</div>

					<ul>
						<li><i>A</i></li>
						<li>Lovely Sew Shop</li>
						<li><a href="/"><i class="icon-go-to"></i></a> </li>
					</ul>
				</div>
				<hr class="tile-underline">
			</div>


		</div>
	</div>
</div>


