{# This is the Footer Region Template.
   -----------------------------------
   In order to put this Template in place, please
   create a custom Block in the Admin area.
#}
<footer role="contentinfo">
	<div class="footer-menu-container">
		<div class="row">
			<div class="large-12 columns">
				<h4>Thanks for watching</h4>
				<p>To move to the Top, Just klick the Logo below</p>
			</div>
		</div>

		<div class="row">
			<div class="medium-5 columns">
				<ul class="footer-menu-left">
					<li><a href="/">Service</a></li>
					<li><a href="/">Meine Bestellungen</a></li>
					<li><a href="/">Lieferzeiten</a></li>
					<li><a href="/">Zahlungsmöglichkeiten</a></li>
				</ul>
			</div>

			<div class="medium-2 columns">
				<a href="/"><img src="{{ basepath ~ directory }}/assets/images/logo-footer.png" alt="Footer Logo"></a>
			</div>

			<div class="medium-5 columns">
				<ul class="footer-menu-right">
					<li><a href="/">Service</a></li>
					<li><a href="/">Spread Help</a></li>
					<li><a href="/">Impressum</a></li>
					<li><a href="/">Geschäftsbedingungen</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-menu-social-container">
		<div class="row">
			<div class="medium-4 medium-centered columns">
				<p>Follow my other hubs</p>
				<ul class="footer-menu-social">
					<li><a href="/"><img src="{{ basepath ~ directory }}/assets/images/icon-instagram.svg" alt="Icon Instagram"></a></li>
					<li><a href="/"><img src="{{ basepath ~ directory }}/assets/images/icon-dribbble.svg" alt="Icon Dribbble"></a></li>
					<li><a href="/"><img src="{{ basepath ~ directory }}/assets/images/icon-behance.svg" alt="Icon Behance"></a></li>
					<li><a href="/"><img src="{{ basepath ~ directory }}/assets/images/icon-facebook.svg" alt="Icon Facebook"></a></li>
					<li><a href="/"><img src="{{ basepath ~ directory }}/assets/images/icon-twitter.svg" alt="Icon Twitter"></a></li>
				</ul>

			</div>
		</div>
	</div>
</footer>
