{% include directory  ~ '/partials/header.html.twig' %}

<main id="content" role="main">

	<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

	{# Spreasshirt Teaser Block #}
	{{ page.spread_teaser }}

	{# Orbit Carousel Block #}
	{{ page.orbit }}

	{# About Me Block #}
	{{ page.about }}

	<div class="row">
		<div class="large-12 columns da-slider">

		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			{{ page.content }}
		</div>
	</div>{# /.row #}

	<div class="row">
		<div class="large-12 columns">
			{% if page.footer %}
				<footer role="contentinfo">
					{{ page.footer }}
				</footer>
			{% endif %}
		</div>
	</div>{# /.row #}


</main>{# /.layout-container #}
